<table id="events" class="u-full-width">
  <thead>
    <th>Name</th>
    <th>Message</th>
    <th>Occured at</th>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <%= render "events/event_row", event: event %>
    <% end %>
  </tbody>
</table>
