
body {
  background: #FDD761;
  color: white;
}

section {
  margin-top: 180px;
}

#activity {
  padding: 15px;
  border: 1px solid;
  border-radius: 4px;
  border: 1px solid;
  box-sizing: border-box;
}

#feed-btn-ctnr {
  margin-top: 15px;
}